html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label,h1,h2,h3,h4,h5
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section
  display block

html, body
  line-height 1
  min-height 100%
  font-family Artial, Verdana, sans-serif

@font-face
  font-family 'ufonts.com_segoe_condensed'
  src url('../font/ufonts.com_segoe_condensed.eot')
  src url('../font/ufonts.com_segoe_condensed.eot?#iefix') format('embedded-opentype'),         url('../font/ufonts.com_segoe_condensed.woff') format('woff'),         url('../font/ufonts.com_segoe_condensed.ttf') format('truetype'),         url('../font/ufonts.com_segoe_condensed.svg#kg_turning_tablesregular') format('svg')
  font-weight normal
  font-style normal

body
  background url(../img/fond.png) top left no-repeat #fff
  background-attachment fixed
  font-family "ufonts.com_segoe_condensed", helvetica, Verdana

ol, ul
  list-style none

p
  color #676767
  font-weight bold
  font-size 1em

h1
  color #808183
  font-weight bold
  font-size 3.5em

h2
  color #71B3E3
  font-weight bold
  font-size 2em

h3
  color #929496
  font-size 1.5em
  font-weight normal

h4
  color #71B3E3
  font-weight bold
  font-size 1.2em
  margin 0.5em 0

#bg1, #bg2
  z-index 50px
  top 0
  left 0
  width 100%
  height 100%
  background url(./img/fond.png) repeat 0 0
  background-size 100%

#bg2
  z-index 49px
  background url(../img/fond.png)
  background-size 100%

#v1
  width 100%
  height 100%
  background url(../img/fondo.png) center no-repeat
  background-size 100%
  overflow hidden
  h2
    width 100%
    height 100%
    font-size 3em
    color #fff
    font-weight normal
    text-align center

#v2
  background url(../img/fondo2.png) no-repeat
  background-size 100%
  height 100%
  width 100%
  p
    margin-top -5%
    left 5%
    margin-top -16%

img
  border-radius 1em
  right 10%
  max-width 100%
  text-align center
  border-radius 1em
  right 10%
  max-width 85%
  text-align center

#trabajoG1
  height 330px
  top 92%
  width 70%

#trabajoG2
  height 330px
  margin-left 29%
  top 92%
  width 70%

#trabajoG3
  height 300px
  margin-left 29%
  top 92%
  width 70%

#trabajoG4
  height 300px
  margin-left 29%
  top 92%
  width 70%

#trabajoG5
  height 400px
  margin-left 29%
  top 92%
  width 70%

#trabajoG6
  height 400px
  margin-left 29%
  top 22%
  width 70%

#trabajo1
  background #808183
  border 3px
  height 300px
  position fixed
  width 100%

#trabajo2
  background #ccf
  position fixed
  width 43%
  height 330px

#trabajo3
  background #cf9
  height 330px
  position fixed
  width 30%

#trabajo4
  background #cc6833
  height 400px
  width 28%

#trabajo5
  background #22d5ff
  height 240px
  width 50%

#trabajo6
  background #fc3
  height 245px
  width 28%

#trabajo7
  background #848181
  height 370px
  width 50%

#trabajo8
  background #e67def
  height 450px
  width 28%

#trabajo9
  background #7e76e3
  height 280px
  width 49%

#trabajo10
  background #db3a3a
  height 450px
  width 49%

#trabajo11
  background #fc7
  height 308px
  width 28%

#trabajo12
  background #0f609b
  height 300px
  width 90%

#v3
  width 100%
  height 100%
  background url(../img/fond.png) no-repeat
  background-size 100%
  h5
    font-size 3em

#servicios1-v3,#servicios2-v3,#servicios3-v3
  text-align left
  margin-left 10%
  padding .3em
  height 20%
  width 60%

#servicios2-v3
  height 30%
  top 30%

#servicios3-v3
  height 90%
  width 190%

#v3-men1,#v3-men2,#v3-men3
  display inline-block
  margin auto 10em
  margin-left 1em
  height 60%
  padding-top 3em
  vertical-align top
  width 85%

#v3-men2
  height 75%
  h2
    margin-top 4%

#v3-men3
  h2
    margin-right -.5em

#serv1,#serv2,#serv3
  display inline-block
  margin -3em
  margin-left 12em
  height 85%
  vertical-align top
  width 65%

#serv2
  height 145%
  margin -8.5em
  margin-left 12.5em
  width 58%

#serv3
  height 145%
  width 38%
  margin-left 12.5em

#linea
  background #71B3E3
  display inline-block
  height 5%
  margin -.2em
  width 85%

#linea1
  background #71B3E3
  display inline-block
  height 1.2%
  margin -4.5em
  margin-left .2em
  width 85%

#footer
  width 100%
  height 100%
  padding 3em
  border 0 solid #222
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

#equipo
  margin-left 25%
  h3
    margin-left 5%
    font-size 2.9em
    margin-top .5em
    margin-left 3%
    font-size 2.9em
    margin-top .5em
    margin-left 3%
    font-size 2.4em
    margin-top .6em

#footer1
  height 82%
  margin .1em auto
  margin-right -11.5em
  width 70%
  z-index -1
  h4
    font-size .9em
    font-size .9em

.f-equipo
  height 100%
  list-style none
  display block
  text-align center
  width 100%
  li
    vertical-align top
    width 220px
    height 220px
    display inline-block
    margin-top -160%
    vertical-align top
    width 190px
    height 190px
    display inline-block
    margin-top -160%
    vertical-align top
    width 180px
    height 180px
    display inline-block
    margin-top -150%
    vertical-align top
    width 160px
    height 160px
    display inline-block
    margin-top -150%
    vertical-align top
    width 120px
    height 120px
    display inline-block
    margin-top -150%

#l-img1, #l-img2,#l-img3,#l-img4
  background #000
  width 75%
  height 75%
  border-radius 50%
  display inline-block
  cursor default

#l-img3
  margin-top 0%
  background #000
  margin-top 0%
  background #000
  margin-top 0%
  background #000
  margin-top 0%
  background #000
  margin-top 0%

#l-img4
  margin-top 10%

#l-uno
  margin-left 55%
  margin-top 27%
  margin-left -55%
  margin-top 14%
  margin-left -36%
  margin-top 18%
  font-size .8em
  margin-left -20%
  margin-top 21%
  font-size .7em
  margin-left -28%
  margin-top 37%
  font-size .7em

#l-dos
  margin-left -75%
  margin-top 2%
  margin-left 10%
  margin-right 1%
  margin-top -8%
  margin-left 1%
  margin-right 1%
  margin-top -8%
  font-size .8em
  margin-top -8%
  font-size .7em
  margin-top -8%
  font-size .7em

#l-tres
  margin-left 10%
  margin-top 2%
  margin-right -50%
  margin-top 23%
  margin-bottom 5%
  margin-right -36%
  margin-top 27%
  font-size .8em
  margin-bottom 6em
  margin-right -17%
  margin-top 35%
  font-size .7em
  margin-bottom 8em
  margin-left -29%
  margin-top 65%
  font-size .7em
  margin-bottom 5em

#l-cuatro
  margin-right 80%
  margin-top -28%

#linea2,#linea3,#linea4
  background #71B3E3
  display inline-block
  height .7%
  margin-top 8%
  margin-left em
  -ms-transform rotate(5deg)
  -webkit-transform rotate(5deg)
  transform rotate(5dg)
  z-index 150
  width 20%
  @media(max-width 1024px){		#v3{			width: 100%
  height 100%

article#v3-men1
  margin-left 21%
  padding .1em
  width 79%
  margin-left 21%
  padding .1em
  width 79%

article#v3-men3
  margin-left 29%
  padding .1em
  width 71%
  margin-left 29%
  padding .1em
  width 71%

article#v3-men1 h1,article#v3-men2 h1, h2,article#v3-men3 h1, h2
  font-size 2.3em
  font-size 1.4em
  margin-top 1em
  font-size 1em
  margin-top 1.5em

#l-img1, #l-img2,#l-img3
  background #000
  width 75%
  height 75%
  border-radius 50%
  display inline-block
  cursor default
  background #000
  width 75%
  height 75%
  border-radius 50%
  display inline-block
  cursor default
  background #000
  width 75%
  height 75%
  border-radius 50%
  display inline-block
  cursor default
  background #000
  width 75%
  height 75%
  border-radius 50%
  display inline-block
  cursor default

#l-img2
  background #000
  margin-top 10%
  background #000
  margin-top 10%
  background #000
  margin-top 10%
  background #000
  margin-top 5%

}
  @media(max-width
    &:768px)
      #footer1{			margin-right -6%
    &:640px)
      #footer1{			margin-right -6%
    &:480px)
      #footer1{			margin-right -6%

#v3-serv1,#v3-serv2,#v3-serv3
  min-height 10%

#v3-serv0
  h5
    font-size 2.4em

article#v3-men2
  margin-top 3em

